<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="image/FocusArea__Weather-02.jpg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <title>weather api</title>
</head>

<body>
    <div class="main">
    <h3>welcom to our website to know your country's weather , longtitude ,latitude and tempereture , please enter
        country name</h3>
        <form id="form1">
            <input type="text" placeholder="Enter country name" id="address">
            <button> search </button>
        </form>
    <div id="paragraph">
     <p id="error"></p>
       <p  id="location"></p>
        <P id="city"></P>
        <p id="longitude"></p>
        <p id="latitude"></p>
        <p id="wether"></p>
        <p id="temp"></p>
        <img src="image/weather02-512.webp" class="sun">
    </div> 
    <img src="image/balloon.png" class="balloon1">
    <img src="image/balloon.png" class="balloon2">
    <img src="image/balloon.png" class="balloon3">
        </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script src="js/script.js"></script>
</html>